<%- include ('partials/head')%>
<body id="body">
  <!-- header -->
  <header id="header">
    <%- include ('partials/nav',{page:'articles'})%>
  </header>
  <!--main-->
  <main id="main">
    <!-- content -->
    <div class="content">
      <h2>Articles</h2>
      <ul class="list1">
        <li><img src="/images/3page-img1.jpg" alt="" />
          <div class="zoom"><a href="/article/article-1">Article 1</a><br />
            Article 1 description is to be here. we just put standard "Lorem ipsum" text here. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s...Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</div>
        </li>
        <li><img src="/images/3page-img2.jpg" alt="" />
          <div class="zoom"><a href="#">Article 2</a><br />
            Article 2 description is to be here. we just put standard "Lorem ipsum" text here. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s...</div>
        </li>
        <li><img src="/images/3page-img3.jpg" alt="" />
          <div class="zoom"><a href="#">Article 3</a><br />
            Article 3 description is to be here. we just put standard "Lorem ipsum" text here. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s...Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</div>
        </li>
        <li><img src="/images/3page-img4.jpg" alt="" />
          <div class="zoom"><a href="#">Article 4</a><br />
            Article 4 description is to be here. we just put standard "Lorem ipsum" text here. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s...</div>
        </li>
      </ul>
    </div>
  </main>
  <!-- footer -->
  <%- include ('partials/footer')%>
</body>

</html>