<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <title>user dashboard</title>
  </head>
  <body>
    <h1>you are welcome to your dashboard</h1>

    <div class="container-fluid tm-mt-60">
      <div class="row tm-mb-50">
        <div class="col-lg-6 col-12 mb-5">
          <form
            id="add-productSN-form"
            action="/user/dashboard"
            method="POST"
            class="tm-contact-form mx-auto"
          >
            <h2 class="tm-text-primary mb-5">add your product settings</h2>
            <div class="form-group">
              <input
                id="productNameByUser-input"
                type="text"
                name="productNameByUser"
                class="form-control rounded-0"
                placeholder="Add name to your product as example kitchen-plants"
                autocomplete
                required
              />
            </div>
            <div class="form-group">
              <input
                id="serialNumber-input"
                type="text"
                name="serialNumber"
                class="form-control rounded-0"
                placeholder="serialNumber"
                autocomplete
                required
              />
            </div>
            <p>SoilHumidity-Settings</p>
            <div class="form-group">
              <input
                id="minValue-input"
                type="number"
                min="0"
                max="999"
                name="minValue"
                class="form-control rounded-0"
                placeholder="minValue"
                autocomplete
              />
            </div>
            <div class="form-group">
              <input
                id="period-input"
                type="number"
                min="0"
                max="168"
                name="period"
                class="form-control rounded-0"
                placeholder="period time by hours"
                autocomplete

              />
            </div>
            <div class="form-group">
              <input
                id="runTime-input"
                type="number"
                min="0"
                max="600"
                name="runTime"
                class="form-control rounded-0"
                placeholder="runTime by seconds"
                autocomplete
              />
            </div>
            <div class="form-group tm-text-right">
              <button type="submit" id="addSN-button" class="btn btn-primary">
                confirm your product sittings
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/dist/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
  </body>
</html>
