* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  min-width: 1100px;
}

body {
  background: #fff;
  font-family: Tahoma, Arial, helvetica, sans-serif;
  font-size: 100%;
  line-height: 1em;
  color: #000;
}

input,
textarea,
select {
  font-family: Tahoma, Arial, helvetica, sans-serif;
  font-size: 1em;
}

p {
  margin: 0;
  padding: 0;
}

/*==================forms====================*/
input,
select {
  vertical-align: middle;
  font-weight: normal;
}

/* img {
  border: 0;
  vertical-align: top;
  text-align: left;
} */

/*=====GLOBAL======*/
#body {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#header,
#main,
#footer {
  font-size: 0.75em;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
}

.zoom {
  overflow: hidden;
}

.align-right {
  text-align: right;
}

p {
  margin-bottom: 14px;
  line-height: 1.5em;
}

/*==================forms====================*/
#contacts_form {
  clear: right;
  width: 100%;
  overflow: hidden;
  padding: 15px 0 0 0;
}

#contacts_form input {
  width: 84%;
  height: 40px;
  padding: 1px 0 1px 3px;
  border: none;
  border-bottom: 1px solid #b3b1b1;
  color: #040404;
  font-size: 1.5em;
}
#contacts_form input:focus {
  /* background-color: #ade700; */
  border-bottom: 2px solid #89b700;
  outline: none;
}

#contacts_form textarea {
  width: 567px;
  height: 100px;
  padding: 1px 0 1px 3px;
  border: none;
  border-bottom: 1px solid #b3b1b1;
  color: #040404;
  font-size: 1.5em;
  margin-bottom: 15px;
  overflow: auto;
}
#contacts_form textarea:focus {
  /* background-color: #ade700; */
  border-bottom: 2px solid #89b700;
  outline: none;
}
#contacts_form button,
#received button,
#failed button {
  width: 30%;
  height: 40px;
  background: #89b700;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  /* border: 1px solid black; */
}

#contacts_form button:hover,
#received button:hover,
#failed button:hover {
  background: #a8d51f;
}
#contact-form-btn_div,
#received-form-btn_div,
#failed-form-btn_div {
  width: 80%;
  text-align: center;
}
#received-msg,
#failed-msg {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #89b700;
  margin-top: 15px;
}
/*==================list====================*/
ul {
  list-style: none;
}

.site-nav {
  position: absolute;
  left: 16px;
  top: 32px;
  overflow: hidden;
}

.site-nav li {
  float: left;
  font-size: 17px;
  line-height: 1.2em;
  text-transform: uppercase;
  padding: 0 30px;
  background: url(../images/divider.gif) no-repeat left 7px;
  margin-left: -6px;
}

.site-nav li a {
  text-decoration: none;
  color: #949494;
  cursor: pointer;
}

.site-nav li a:hover,
.site-nav li a.act {
  color: #89b700;
}
.site-nav li a.act {
  pointer-events: none;
}

.list li {
  padding-left: 62px;
  margin-bottom: 20px;
  line-height: 1.5em;
  min-height: 49px;
  height: auto !important;
  height: 49px;
  background: url(../images/icon.gif) no-repeat left top;
}

.list li a {
  text-decoration: none;
  font-weight: bold;
}

.list li a:hover {
  text-decoration: underline;
}

.list1 {
  margin-top: -21px;
}

.list1 li {
  line-height: 1.5em;
  width: 100%;
  overflow: hidden;
  vertical-align: bottom;
  padding-top: 21px;
}

.list1 li img {
  float: left;
  margin: 3px 20px 0 0;
  border: 1px solid green;
  border-radius: 10px;
}

.list1 li a {
  text-decoration: none;
  font-weight: bold;
}

.list1 li a:hover {
  text-decoration: underline;
}

.list2 {
  padding-bottom: 15px;
  margin: 0;
}

.list2 li {
  font-weight: bold;
  padding-bottom: 6px;
}

.list2 li ul {
  padding: 8px 0 0 12px;
  margin-bottom: -5px;
}

/*==================other====================*/
.img-box1 {
  width: 100%;
  overflow: hidden;
}

.img-box1 img {
  float: left;
  margin: 3px 20px 0 0;
}

/*==================txt, links, lines, titles====================*/
a {
  color: #89b700;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  color: #929292;
  font-size: 22px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 1em;
  color: #89b700;
  line-height: 1.5em;
  margin-bottom: 15px;
}

/*header*/
#header {
  height: 334px;
  background: url(../images/header-bg.jpg) no-repeat left top;
}

/*main*/
#main {
  background: url(../images/cont-bg.gif) no-repeat left top;
  background-size: 279px 800px;
  min-height: 566px;
  height: auto !important;
  /* height: 566px; */
}

.about-pro {
  padding-bottom: 20px;
}

#main .cell-1 {
  padding-bottom: 20px;
}

#main .content,
.contact-content {
  padding: 30px 20px 50px 308px;
}

#main .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#main .content .cell-1 {
  order: -1;
  flex: 1 0 100%;
}

#main .content .cell-2 {
  width: 55%;
  border-radius: 5px;
}

#main .content .cell-3 {
  width: 42%;
  border-radius: 5px;
}

#main .contact-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#main .contact-content .contact-cel-1 {
  width: 100%;
  padding: 30px;
}
#main .contact-content .contact-cel-2 {
  width: 100%;
  padding-left: 30px;
}
#main .contact-content .contact-cel-3 {
  width: 100%;
  padding-left: 30px;
}
#main .contact-content .contact-cel-4 {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
}
#main .contact-content .contact-cel-4 a {
  padding-right: 30px;
}

/*footer*/
#footer {
  height: 60px;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  color: #414141;
}

/*==========================================*/
/* #contact-img{
  width: 50%;
  height: 500px;
  background: url(../images/img.jpg) no-repeat center center;
  background-size: cover;
  border: #89b700 solid 2px;
} */
.sign-up-in {
  width: 300px;
  height: 600px;
  background: url(../images/icon.gif) fixed;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.sign-up {
  position: relative;
  width: 100%;
  height: 100%;
}

.sign-up-in label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.sign-up-in input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.sign-up-in button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #72a613;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  border: 1px solid black;
}

.sign-up-in button:hover {
  background: #fff0f0;
}

.login {
  height: 550px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login label {
  padding: 20px;
  color: #0b0b0a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-600px);
  background: url('../images/icon.gif');
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .sign-up label {
  transform: scale(0.6);
}
